
@media screen and (max-width:1400px) {
    .home__photo{
        width: 45rem;
        height: 45rem;
    }
    .home{
        height: 78rem; 
    }
    
}

@media screen and (max-width:1200px) {
    .home{
        height: 70rem;
    }
    .service{
        padding: 6rem 2rem;
    }
}
@media screen and (max-width:992px) {
    .home  .row{
        flex-direction: column-reverse;
    }
    .nav__logo{
        font-size: 4rem;
    }
    .menu__item{
        margin-right: 2rem;
    }
    .home__content{
        display: flex;
        flex-direction: column;
       
        text-align: center;
        
    }
    .home__photo{
        margin: 0 auto;
        width: 34rem;
        height: 34rem;
        border-width: 1.5rem;
        background-size:auto;
     
    }
    .home__links-wrapper{
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
   
    .home{
        margin-top: 1rem;
        background-image: none;
        height: auto;
    }
    .about{
        flex-direction: column;
    }
    .service{
        padding: 3rem 0;
    }
    
}
@media screen and (max-width:768px) {
    .menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        top: 100%;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        height: 0;
        overflow: hidden;
        transition: all 200ms ease-in;
        background-color: var(--app-bg-color);
        border-radius: 0 0 .3rem .3rem;

    }
    .menu__item{
        margin-right: 0;
        margin-bottom:2rem ;
    }
    .menu__item:first-child{
        margin-top: 2rem;
    }
    .nav__toggle-icon{
        display: flex;
        
    }
    .menu--open{
        height: 33rem;
    }
    .cover{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,10%);
    z-index: -1;
    opacity: 0;
}
.cover--open{
    opacity: 1;
    z-index: 99;
}

.about__links-wrapper{
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

    
}
@media screen and (max-width:576px) {
   
    .home__name{
        font-size: 1.8rem;

    }
    .home__title{
        font-size: 3rem;

    }
    .home__caption{
        font-size: 1.3rem;

    }
    .home__photo{
        margin: 0 auto;
        width: 28rem;
        height: 28rem;
        border: 1.2rem solid #fff;
     
    }
    .about__content{
        padding: 4rem 2rem;
    }
   
    
}

@media screen and (max-width:430px) {
    
    .about-link{
        width: 100%;
    }
    .home__link{
        width: 100%;
    }
    .about-list__itme{
        font-size: 1.5rem;
    }
}
